tr {
  border: solid;
  border-width: 1px 0;
  background-color: aliceblue;
}

.center {
  width: 100%;
  font-family: "Trebuchet MS";
}

th,
td {
  padding: 8px;
  text-align: center;
  font-size: larger;
}

#heading {
  font-family: "Old English Five", sans-serif;
  text-align: center;
}
